# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
migrations/
.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Tailwind output
client/static/css/output.css

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db